@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: kanit;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 10;
}

.nav > h1 {
  font-size: 2rem;
  font-weight: 100;
}

.navright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navright a {
  font-size: 1vw;
  text-decoration: none;
  color: #222;
  margin: 1.25rem;
}

.navright a:nth-last-child(1) {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  border: 1px solid #000;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.navright a i {
  font-size: 1vw;
  padding-left: 0.5rem;
}

.navright a:nth-last-child(1) .green {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #00eb8f;
  transition: left 0.4s ease;
  z-index: -1;
}

.navright a:nth-last-child(1):hover .green {
  left: 0;
}

#page1 h1 {
  font-family: Lato;
  font-size: 5.6vw;
  font-weight: 100;
  text-transform: capitalize;
  position: relative;
  left: 10%;
  width: 70%;
  text-align: center;
  z-index: 1;
}

#page1 h1::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 2vh;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  background-size: cover;
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, 0);
}

#page1 #img1 {
  width: 23vw;
  height: 58vh;
  position: absolute;
  left: 5%;
  top: 20%;
}
#page1 #img2 {
  width: 17vw;
  height: 30vh;
  position: absolute;
  right: 25%;
  top: 15%;
}
#page1 #img3 {
  width: 20vw;
  height: 33vh;
  position: absolute;
  right: 7%;
  top: 50%;
}

#page1 img {
  transition: margin 0.8s ease;
}

#page1 img:hover {
  margin-top: -10px;
}

#page2 {
  height: 60vh;
  width: 100vw;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#page2 h5 {
  font-size: 1.5vw;
  font-family: poppins;
  font-weight: 500;
  position: relative;
  letter-spacing: -1.8px;
}

#page2 h5::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 25%;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: #00eb8f;
}

#page2 h1 {
  font-size: 3vw;
  font-family: kanit;
  margin: 1.5vw 0;
  width: 60%;
  text-align: center;
  font-weight: 100;
  position: relative;
}

#page2 h1::after {
  content: "";
  position: absolute;
  width: 14vw;
  height: 8vh;
  background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
  bottom: 0;
  left: 28%;
}

#about-us {
  display: flex;
  align-items: center;
}

#about-us > h4 {
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: 500;
}

#greendiv {
  height: 40px;
  width: 80px;
  border-radius: 10rem;
  border: 1px solid #fff;
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#greendiv i {
  font-size: 2.5rem;
}

#page3 {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#page3 .images {
  width: 50%;
  height: 100%;
  position: relative;
}

#page3 .images img {
  position: absolute;
}

#page3 .images #p3_img1 {
  width: 26vw;
  height: 28vh;
  top: 0;
  left: 27%;
}

#page3 .images #p3_img2 {
  width: 35vw;
  height: 56vh;
  top: 30%;
  left: 27%;
}

#page3 .images #p3_img3 {
  width: 12vw;
  height: 56vh;
}

#page3 .images #p3_img4 {
  width: 12vw;
  height: 32vh;
  top: 60%;
}

.content {
  width: 45%;
  height: 100%;
}

.contentbtm {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentbtm h1{
  font-family: lato;
  font-size: 4.5vw;
  position: relative;
}

.contentbtm h1::after{
  content: "";
  position: absolute;
  width: 40%;
  height: 2vh;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  background-size: cover;
  top: 45%;
  left: 45%;
  transform: translate(-50%, 0);
}

.contentbtm p{
  font-size: 1.2vw;
  font-weight: 100;
  margin: 5vh 0vh;
}

.contentbtm a{
  font-size: 1.5vw;
  padding: 0.5rem 1rem;
  color: #000;
  border-radius: 10rem;
  border: 1px solid #000;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  text-decoration: none;
}

.contentbtm a i{
  font-size: 1.5vw;
  position: relative;
  top: 3px;
  padding-left: 0.5rem;
}

.contentbtm a .green{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #00eb8f;
  transition: left 0.4s ease;
  z-index: -1;
}

.contentbtm a:hover .green{
  left: 0;
}